@font-face {
  font-family: "Satisfy-Regular";
  src: url("./fonts/Satisfy-Regular.ttf");
}

@font-face {
  font-family: "YesevaOne-Regular";
  src: url("./fonts/YesevaOne-Regular.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: 'YesevaOne-Regular', cursive;
}

h2 {
  font-family: 'YesevaOne-Regular', cursive;
}

ul {
  font-family: 'Satisfy-Regular', cursive;
}

p {
  font-family: 'Yeseva', cursive;
}

button {
  font-family: 'YesevaOne-Regular', cursive;
}